/* This is the main stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --container-width: 880px;
  --primary: #2d85c6;
  --primary-dark: #0f4b80;
  --light: #DDFFE7;
}

a{
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 600;
}


.btn{
  text-transform: none !important;
}
.btn[type='submit']{
  padding: 8px 30px;
  font-size: 16px;
}
.btn i{
  margin-right: 5px !important;
}



/* these are the internal stylings */
/* The header */
header {
  background-color: var(--primary-dark);
}
header .nav{
  padding: 15px;
}
header .logo{
  padding: 0px 10px;
}
header .logo a{
  color: #fff;
}
header .logo i{
  margin-right: 5px;
}


main{
  padding: 60px 15px;
}

/* now the main styling */
.card{
  border: 1px solid #dcdcdc;
  padding: 25px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00000030;
}
.card.small{
  max-width: 500px;
  margin: 0px auto;
}
.card .title{
  text-align: center;
  margin-bottom: 20px;
}
.card .title img{
  width: 150px;
}
.card .title h1{
  margin-top: -5px;
  font-size: 42px;
  font-weight: 500;
  color: #222;
}
.card .title p.light{
  color: #5a5a5a;
  font-size: 14.5px;
}

main .dangler{
  text-align: center;
  margin-top: 10px;
}



/* some utility classes */

/* backgrounds */
.bg-primary{
  background: var(--primary) !important;
}
.bg-primary-dark{
  background: var(--primary-dark) !important;
}

.container{
  max-width: var(--container-width);
  margin: 0px auto;
}